.add-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white !important;
  cursor: pointer;
}

.fa-1x-size {
  font-size: large;
}

a:hover {
  color: #167495;
  text-decoration: none;
}

.preview-img {
  width: 200px;
  height: 155px;
}

.action-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
  margin: 2px;
}

.btn-danger {
  -webkit-appearance: none;
}

.view-license-div {
  border: none;
}

.busy-btn {
  border-color: transparent !important;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 35px !important;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaaaaa54;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 35px;
}

.preview-img-jobs {
  height: 155px;
}

#location-map {
  height: 100%;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 60vh;
  width: 105%;
  margin-left: -5%;
}

.map-container #dispatcherMap {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.dispatcher-row-1 {
  margin: 0 !important;
}

.dispatcher-row-2 {
  margin: 0 !important;
  max-height: 24.6em;
  min-height: 24.6em;
}

.dispatcher-col-1 {
  height: 85vh;
  width: 103%;
}

.card {
  margin-bottom: 0;
}

.request-tabs-container {
  height: 100%;
}

.accordion .card-header {
  padding: 1%;
  background: #1f95ce;
}

.card-header h2 {
  font-size: 16px;
  padding: 2%;
  color: white;
  cursor: pointer;
}

